<div class="card">
  <div class="card-head">
    Product List
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Star Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td scope="row">{{product.productCode}}</td>
          <td>{{product.productName}}</td>
          <td>
            <app-star [rating] = 4 (ratingClicked)="changeStarRating($event)" ></app-star>
          </td>
          <td>View
            <a [routerLink]="['/productdetails/'+ product.productCode]">Edit</a>
            Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
