<div class="container">
  <header class="row">Header</header>
  <nav class="row">
    <nav class="nav justify-content-center">
      <a class="nav-link active" [routerLink]="['/productlist']" routerLinkActive="router-link-active" >Product List</a>
      <a class="nav-link " [routerLink]="['/productdetails']" >Product Details</a>
      <a class="nav-link" [routerLink]="['/admin']">Admin Dashboard</a>
    </nav>
  </nav>
  <section class="row">
    <div class="col">
      <!-- <app-product-details></app-product-details>
      <app-product-list></app-product-list> -->
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
